* {
    margin: 0;
    padding: 0;
  }
  .h1{
   color: #fff;
   margin-left: 390px;
  }
  
  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
  }
  
  .texto {
    border-width: 20px;
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color:yellow;
    box-shadow: 0px 24px 40px -8px yellow;
    border-radius: 30px;
  }
  
  .texto::placeholder {
   color:black;
    
  
    
  }
  
  .texto:focus,
  .texto:active {
    border: none;
    outline: none;
  }
  
  .terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
    color: white;
  }
  
  .terminos p {
    font-family: "opera";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color:yellow;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
  }
  
  .btn-encriptar {
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: yellow;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: black;
  }
  
  .btn-desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background: yellow;
    border: 1px solid yellow;
    border-radius: 24px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: black;
  }
  
  .btn-desencriptar:hover,
  .btn-encriptar:hover {
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
  }
  
  .encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background:yellow;
    box-shadow: 0px 24px 40px -8px yellow;
    border-radius: 32px;
  }
  
  .mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
  }
  
  .mensaje-encriptado h2 {
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: black;
  }
  
  .mensaje-encriptado p {
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: black;
  }
  
  .encriptado img {
    position: absolute;
    width: 70%;
    height: 50%;
    top: 15%;
  }
  